$black: #101010;
$greyDark: #353535;
$grey: #7E7E7E;
$greyLight: #EAEAEA;
$white: #F6F6F6;
$primaryLight: #F5EDFF;
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$tertiaryDark: #008766;
$gradient: linear-gradient(#FF79DA, #9356DC);