@use 'colors';
@use 'effects';

.footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 22px 25px;
    background: colors.$greyDark;
    color: white;

    &__logo {
        width: fit-content;
        height: 17px;
        padding: 4px 0;
        filter: brightness(16);
    }

    &__liens {
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-size: 16px;
        font-weight: 500;

        .fa-solid {
            font-size: 13px;
            width: 16.25px;
            margin-right: 2%;
        }
    }
}