@use 'colors';

.footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 22px 25px;
    background: colors.$greyDark;
    color: white;

    &__logo {
        width: fit-content;
        height: 17px;
        padding: 5px 0;
        filter: brightness(16);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-size: 16px;
        font-weight: 500;

        &__item {
            &__link {
                display: flex;
                align-items: center;
                gap: 6px;

                .fa-solid {
                    font-size: 13px;
                    width: 16.25px;
                }
            }
        }
    }
}