@use 'colors';

.header {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__back-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        z-index: 2;
    }

    &__back {
        left: 20px;
        position: absolute;

        &__btn {
            width: 30px;
            height: 30px;
            background: none;
            border: none;
            
            .fa-solid {
                font-size: 20px;
                color: colors.$greyDark;
            }
        }
    }

    &__logo {
        padding-top: 14px;

        &__img {
            height: 29px;
        }
    }

    &__location {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        gap: 17px;
        font-size: 16px;
        font-weight: 500;
        background-color: colors.$greyLight;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;
        color: colors.$greyDark;
    }
}