@use 'colors';
@use 'header';
@use 'footer';

@mixin txt-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin svg-heart {
    .heart {
        width: 22px;
        height: 21px;
        fill: url(#svg-gradient);
        fill-opacity: 0;
        stroke: #101010;
        transition: all .3s;
    }

    &:hover {
        .heart {
            fill-opacity: 100%;
            stroke: transparent;
            stroke-width: 0;
        }
    }
}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}

* {
    font-family: "Roboto", sans-serif;
}

body, h1, h2, h3, h4, p, ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: unset;
    text-decoration: none;
}

#svg-template {
    display: block;
    height: 0;
    width: 0;
}

//---------------------------------------------//
//                   Homepage                  //
//---------------------------------------------//

////////////
// Loader //
////////////

@keyframes lockScroll {
    from { overflow: hidden; }
    to { overflow: scroll; }
}

body:has(> .loader) {
    animation: lockScroll 3s step-end;
}

@keyframes hideLoader {
    from {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 9999;
        background: colors.$greyLight;
    }
    to { 
        height: 0;
        width: 0;
        z-index: -1;
        background: none;
    }
}

@keyframes loading {
    from {
        box-shadow: -30px -30px .5px 0 colors.$primary, 0 -30px .5px 0 colors.$primary, 30px -30px .5px 0 colors.$primary;
    }
    14.286% {
        box-shadow: -30px -50px .5px 0 colors.$primary, 0 -30px .5px 0 colors.$primary, 30px -30px .5px 0 colors.$primary;
    }
    28.571% {
        box-shadow: -30px -25px .5px 0 colors.$secondary, 0 -30px .5px 0 colors.$primary, 30px -30px .5px 0 colors.$primary;
    }
    42.857% {
        box-shadow: -30px -30px .5px 0 colors.$primary, 0 -50px .5px 0 colors.$primary, 30px -30px .5px 0 colors.$primary;
    }
    57.143% {
        box-shadow: -30px -30px .5px 0 colors.$primary, 0 -25px .5px 0 colors.$secondary, 30px -30px .5px 0 colors.$primary;
    }
    71.429% {
        box-shadow: -30px -30px .5px 0 colors.$primary, 0 -30px .5px 0 colors.$primary, 30px -50px .5px 0 colors.$primary;
    }
    85.714% {
        box-shadow: -30px -30px .5px 0 colors.$primary, 0 -30px .5px 0 colors.$primary, 30px -25px .5px 0 colors.$secondary;
    }
    to {
        box-shadow: -30px -30px .5px 0 colors.$primary, 0 -30px .5px 0 colors.$primary, 30px -30px .5px 0 colors.$primary;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    animation: 
        hideLoader 3s step-end,
        appear reverse .5s 2.5s;

    &__dots {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        border-radius: 50%;
        box-shadow: none;
        animation: loading 1.25s 2.4;
    }
}

//////////////////
// Presentation //
//////////////////

.presentation {
    padding: 40px 0;
    text-align: center;
    background: colors.$white;

    &__title {
        padding: 0 45px ;
        font-size: 24px;
        font-weight: 700;
        @include txt-wrap;
    }

    &__txt {
        padding: 15px 0;
        color: colors.$greyDark;
        font-size: 18px;
        font-weight: 300;
    }

    &__btn {
        display: inline-block;
        box-sizing: border-box;
        max-width: 90%;
        height: 50px;
        margin: 15px 0;
        padding: 15px 20px;
        background: colors.$gradient;
        border: none;
        border-radius: 25px;
        color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
        font-size: 16px;
        font-weight: 500;
        transition: all .5s;
        @include txt-wrap;

        &:hover {
            filter: brightness(1.1);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
        }
    }
}

//////////////////
// Instructions //
//////////////////

.instructions {
    padding: 42px 20px;

    &__title {
        padding: 5px 0;
        font-size: 24px;
        font-weight: 700;
        @include txt-wrap;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 25px 0;
    }

    &__card {
        display: flex;
        align-items: center;

        &__number {
            min-width: 24px;
            width: 24px;
            height: 24px;
            margin-right: -12px;
            text-align: center;
            align-content: center;
            font-size: 14px;
            font-weight: 500;
            color: white;
            background: colors.$primary;
            border-radius: 100%;
            z-index: 2;
        }

        &__content {
            display: flex;
            align-items: center;
            gap: 25px;
            box-sizing: border-box;
            width: 100%;
            height: 72px;
            padding: 20px 30px;
            border-radius: 20px;
            background: colors.$white;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
            z-index: 1;
            transition: all .3s;

            .txt {
                font-size: 16px;
                font-weight: 500;
                @include txt-wrap;
            }

            .fa-solid {
                font-size: 18px;
                transition: all .3s;
            }

            &:hover {
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);

                .fa-solid {
                    color: colors.$primary;
                }
            }
        }
    }
}

/////////////////
// Restaurants //
/////////////////

.restaurants {
    padding: 50px 18px;
    background: colors.$white;

    &__title {
        padding: 4px 0;
        font-size: 24px;
        font-weight: 700;
        @include txt-wrap;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding: 16px 0;
    }

    &__card {
        border-radius: 15px;
        background: white;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        transition: all .3s;

        &:hover {
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
            filter: contrast(0.96) brightness(1.04) saturate(1.02);
        }
        
        &__img-container {
            height: 175px;
            position: relative;
        }
        
        &__new {
            width: 80px;
            height: 29px;
            position: absolute;
            top: 13px;
            right: 12px;
            text-align: center;
            align-content: center;
            border-radius: 2px;
            background: colors.$tertiary;
            color: colors.$tertiaryDark;
            font-size: 14px;
            font-weight: 500;
            transition: filter .3s;
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            padding: 16px 14px;
        }

        &__txt {
            display: flex;
            flex-direction: column;
            gap: 4px;
            max-width: 75%;

            .title {
                font-size: 18px;
                font-weight: 700;
                @include txt-wrap;
            }

            .subtitle {
                font-size: 17px;
                font-weight: 300;
                @include txt-wrap;
            }
        }

        &__heart {
            display: flex;
            align-self: center;
            margin-right: 13px;
            @include svg-heart;
        }
    }
}

//---------------------------------------------//
//              Restaurant pages               //
//---------------------------------------------//

.main {
    &__picture {
        height: 275px;
        margin-bottom: -55px;
        position: relative;
        z-index: -1;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 32px 13px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background: colors.$white;

        &__headline {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 4px;

            &__title {
                font-family: "Shrikhand", serif;
                font-size: 28px;
                font-weight: 400;
                @include txt-wrap;
            }

            &__heart {
                display: flex;
                align-self: center;
                margin-right: 24px;
                @include svg-heart;
            }
        }

        &__section {
            margin-bottom: 10px;
            opacity: 0;
            animation: appear 2s forwards;
            &:nth-of-type(2) {
                animation-delay: .5s;
            }
            &:nth-of-type(3) {
                animation-delay: 1s;
            }

            &__title {
                font-size: 16px;
                font-weight: 300;
                text-transform: uppercase;
            }

            &__line {
                width: 40px;
                height: 3px;
                margin: 5px 0 12px 0;
                background: colors.$tertiary;
            }

            &__cards {
                display: flex;
                flex-direction: column;
                gap: 12px;
        
                .card {
                    display: flex;
                    flex-direction: row;
                    height: 69px;
                    border-radius: 15px;
                    background: white;
                    overflow: hidden;
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
                    transition: box-shadow .25s;

                    &__content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 5px;
                        width: 100%;
                        min-width: 0;
                        padding: 0 15px;
                        
                        &__title {
                            font-size: 18px;
                            font-weight: 500;
                            @include txt-wrap;
                        }

                        &__txt-price {
                            display: flex;
                            justify-content: space-between;
                            gap: 5px;
                        }

                        &__txt {
                            font-size: 15.04px;
                            font-weight: 300;
                            @include txt-wrap;
                        }

                        &__price {
                            font-size: 15.04px;
                            font-weight: 700;
                        }
                    }

                    &__selected {
                        display: flex;
                        align-items: center;
                        width: 0;
                        background: colors.$tertiary;
                        color: white;
                        font-size: 20px;
                        transition: width .25s;

                        .fa-solid {
                            padding: 0 20px;
                        }
                    }

                    &:hover {
                        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

                        .card__selected {
                            width: 68px;
                        }
                    }
                }
            }
        }

        &__order {
            align-self: center;
            width: 186px;
            max-width: 100%;
            height: 50px;
            margin-bottom: 10px;
            border: none;
            border-radius: 25px;
            color: white;
            background: colors.$gradient;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
            font-size: 16px;
            font-weight: 500;
            transition: all .5s;
            @include txt-wrap;

            &:hover {
                filter: brightness(1.1);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
            }
        }
    }
}