* {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

// .titre {
//     font-family: "Shrikhand", serif;
// }

h1, h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 300;
}

body, h1, h2, h3, p, ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: unset;
    text-decoration: none;
}

.card-img {
    object-fit: cover;
}

////////////
// Header //
////////////

.header {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__back-logo {
        display: flex;
        align-items: center;
        height: 63px;
    }

    &__back {
        display: flex;
        align-items: center;

        &__btn {
            width: 30px;
            height: 30px;
            background: none;
            border: none;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        width: 100%;

        &__img {
            height: 36px;
        }
    }

    &__location {
        display: flex;
        justify-content: center;
        height: 50px;
        background-color: #EAEAEA;

        &__btn {
            display: flex;
            align-items: center;
            gap: 17px;
            background: none;
            border: none;
        }
    }
}

/////////////////
// Description //
/////////////////

.description {
    padding: 40px ;
    text-align: center;
    background-color: #F6F6F6;

    &__txt {
        padding-bottom: 30px;
        color: #353535;
    }

    &__btn {
        height: 50px;
        padding: 15px 20px;
        background: linear-gradient(#9356DC, #FF79DA);
        border: none;
        border-radius: 25px;
        color: white;
    }
}

////////////////////
// Fonctionnement //
////////////////////

.fonctionnement {
    padding: 48px 20px;

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__card {
        display: flex;
        align-items: center;

        &__number {
            z-index: 1;
            width: 24px;
            height: 24px;
            margin-right: -12px;
            text-align: center;
            align-content: center;
            font-size: 14.18px;
            color: white;
            background: #9356DC;
            border-radius: 100%;
        }

        &__content {
            display: flex;
            align-items: center;
            gap: 25px;
            width: 82%;
            padding: 20px 30px;
            border-radius: 20px;
            background: #F6F6F6;
        }
    }
}

/////////////////
// Restaurants //
/////////////////

.restaurants {
    padding: 48px 20px;
    background: #F6F6F6;

    &__card {
        border-radius: 15px;
        background: white;
        overflow: hidden;
        
        &__img-container {
            height: 145px;
        }

        &__img {
            width: 100%;
            height: 100%;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            padding: 16px 14px;
        }

        &__txt {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        &__heart {
            display: flex;
            align-self: center;
            padding-right: 14px;
            i {
                font-size: 22px;
            }
        }
    }
}

////////////
// Footer //
////////////

.footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 22px 25px;
    background: #353535;
    color: white;

    &__logo {
        height: 27px;
        width: fit-content;
        filter: invert(100%);
    }

    &__liens {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
}