@use '../common' as *;

body:has(> .loader) {
    animation: lockScroll 3s step-end;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    animation: 
        hideLoader 3s step-end,
        appear reverse .5s 2.5s;

    &__dots {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        border-radius: 50%;
        box-shadow: none;
        animation: loading 1.25s 2.4;
    }
}