.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header__back-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
.header__back {
  left: 20px;
  position: absolute;
}
.header__back__btn {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
}
.header__back__btn .fa-solid {
  font-size: 20px;
}
.header__logo {
  padding-top: 14px;
}
.header__logo__img {
  height: 29px;
}
.header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 17px;
  font-size: 16px;
  font-weight: 500;
  background-color: #EAEAEA;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
  background: #353535;
  color: white;
}
.footer__logo {
  width: -moz-fit-content;
  width: fit-content;
  height: 17px;
  padding: 4px 0;
  filter: brightness(16);
}
.footer__liens {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 16px;
  font-weight: 500;
}
.footer__liens .fa-solid {
  font-size: 13px;
  width: 16.25px;
  margin-right: 2%;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

body, h1, h2, h3, h4, p, ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
}

#svg-template {
  display: block;
  height: 0;
  width: 0;
}

.presentation {
  padding: 40px 0;
  text-align: center;
  background: #F6F6F6;
}
.presentation__title {
  padding: 0 45px;
  font-size: 24px;
  font-weight: 700;
}
.presentation__txt {
  padding: 15px 0;
  color: #353535;
  font-size: 18px;
  font-weight: 300;
}
.presentation__btn {
  display: inline-block;
  box-sizing: border-box;
  max-width: 90%;
  height: 50px;
  margin: 15px 0;
  padding: 15px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.5s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.presentation__btn:hover {
  filter: brightness(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.instructions {
  padding: 42px 20px;
}
.instructions__title {
  padding: 5px 0;
  font-size: 24px;
  font-weight: 700;
}
.instructions__cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 0;
}
.instructions__card {
  display: flex;
  align-items: center;
}
.instructions__card__number {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-right: -12px;
  text-align: center;
  align-content: center;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background: #9356DC;
  border-radius: 100%;
  z-index: 2;
}
.instructions__card__content {
  display: flex;
  align-items: center;
  gap: 25px;
  box-sizing: border-box;
  width: 100%;
  height: 72px;
  padding: 20px 30px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  z-index: 1;
  transition: all 0.3s;
}
.instructions__card__content .txt {
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.instructions__card__content .fa-solid {
  font-size: 18px;
  transition: all 0.3s;
}
.instructions__card__content:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
.instructions__card__content:hover .fa-solid {
  color: #9356DC;
}

.restaurants {
  padding: 50px 18px;
  background: #F6F6F6;
}
.restaurants__title {
  padding: 4px 0;
  font-size: 24px;
  font-weight: 700;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 16px 0;
}
.restaurants__card {
  border-radius: 15px;
  background: white;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.restaurants__card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  filter: contrast(0.96) brightness(1.04) saturate(1.02);
}
.restaurants__card__img-container {
  height: 175px;
  position: relative;
}
.restaurants__card__new {
  width: 80px;
  height: 29px;
  position: absolute;
  top: 13px;
  right: 12px;
  text-align: center;
  align-content: center;
  border-radius: 2px;
  background: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  transition: filter 0.3s;
}
.restaurants__card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__card__content {
  display: flex;
  justify-content: space-between;
  padding: 16px 14px;
}
.restaurants__card__txt {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 75%;
}
.restaurants__card__txt .title {
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurants__card__txt .subtitle {
  font-size: 17px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurants__card__heart {
  display: flex;
  align-self: center;
  margin-right: 13px;
}
.restaurants__card__heart .heart {
  width: 22px;
  height: 21px;
  fill: url(#svg-gradient);
  fill-opacity: 0;
  stroke: #101010;
  transition: all 0.3s;
}
.restaurants__card__heart:hover .heart {
  fill-opacity: 100%;
  stroke: transparent;
  stroke-width: 0;
}

.main__picture {
  height: 275px;
  margin-bottom: -55px;
  position: relative;
  z-index: -1;
}
.main__picture__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 32px 13px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: #F6F6F6;
}
.main__menu__headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
}
.main__menu__headline__title {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
}
.main__menu__headline__heart {
  display: flex;
  align-self: center;
  margin-right: 24px;
}
.main__menu__headline__heart .heart {
  width: 22px;
  height: 21px;
  fill: url(#svg-gradient);
  fill-opacity: 0;
  stroke: #101010;
  transition: all 0.3s;
}
.main__menu__headline__heart:hover .heart {
  fill-opacity: 100%;
  stroke: transparent;
  stroke-width: 0;
}
.main__menu__section {
  margin-bottom: 10px;
  opacity: 0;
  animation: appear 2s forwards;
}
.main__menu__section:nth-of-type(2) {
  animation-delay: 0.5s;
}
.main__menu__section:nth-of-type(3) {
  animation-delay: 1s;
}
.main__menu__section__title {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.main__menu__section__line {
  width: 40px;
  height: 3px;
  margin: 5px 0 12px 0;
  background: #99E2D0;
}
.main__menu__section__cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.main__menu__section__cards .card {
  display: flex;
  flex-direction: row;
  height: 69px;
  border-radius: 15px;
  background: white;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.25s;
}
.main__menu__section__cards .card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 100%;
  min-width: 0;
  padding: 0 15px;
  transition: width 0.25s;
}
.main__menu__section__cards .card__content__title {
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu__section__cards .card__content__txt-price {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.main__menu__section__cards .card__content__txt {
  font-size: 15.04px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu__section__cards .card__content__price {
  font-size: 15.04px;
  font-weight: 700;
}
.main__menu__section__cards .card__selected {
  display: flex;
  align-items: center;
  width: 0;
  background: #99E2D0;
  color: white;
  font-size: 20px;
  transition: width 0.25s;
}
.main__menu__section__cards .card__selected .fa-solid {
  padding-left: calc(25% + 5px);
}
.main__menu__section__cards .card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.main__menu__section__cards .card:hover .card__content {
  width: 82%;
}
.main__menu__section__cards .card:hover .card__selected {
  width: 18%;
}
.main__menu__order {
  align-self: center;
  width: 186px;
  max-width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border: none;
  border-radius: 25px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.5s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu__order:hover {
  filter: brightness(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}/*# sourceMappingURL=style.css.map */