@use '../common' as *;

//////////////////
// Presentation //
//////////////////

.presentation {
    padding: 40px 0;
    text-align: center;
    background: $white;

    &__title {
        padding: 0 45px ;
        font-size: 24px;
        font-weight: 700;
    }

    &__txt {
        padding: 15px 0;
        color: $greyDark;
        font-size: 18px;
        font-weight: 300;
    }

    &__btn {
        display: inline-block;
        box-sizing: border-box;
        max-width: 90%;
        height: 50px;
        margin: 15px 0;
        padding: 15px 20px;
        background: $gradient;
        border: none;
        border-radius: 25px;
        color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
        font-size: 16px;
        font-weight: 500;
        transition: all .5s;
        @include txt-wrap;

        &:hover {
            filter: brightness(1.1);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
        }
    }
}

//////////////////
// Instructions //
//////////////////

.instructions {
    padding: 42px 20px;

    &__title {
        padding: 5px 0;
        font-size: 24px;
        font-weight: 700;
        @include txt-wrap;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 25px 0;
    }

    &__card {
        display: flex;
        align-items: center;

        &__number {
            min-width: 24px;
            width: 24px;
            height: 24px;
            margin-right: -12px;
            text-align: center;
            align-content: center;
            font-size: 14px;
            font-weight: 500;
            color: white;
            background: $colorPrimary;
            border-radius: 100%;
            z-index: 2;
        }

        &__content {
            display: flex;
            align-items: center;
            gap: 25px;
            box-sizing: border-box;
            width: 100%;
            height: 72px;
            padding: 20px 30px;
            border-radius: 20px;
            background: $white;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
            z-index: 1;
            transition: all .3s;

            .txt {
                font-size: 16px;
                font-weight: 500;
                @include txt-wrap;
            }

            .fa-solid {
                font-size: 18px;
                transition: all .3s;
                color: $grey;
            }

            &:hover {
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);

                .fa-solid {
                    color: $colorPrimary;
                }
            }
        }
    }
}

/////////////////
// Restaurants //
/////////////////

.restaurants {
    padding: 50px 18px;
    background: $white;

    &__title {
        padding: 4px 0;
        font-size: 24px;
        font-weight: 700;
        @include txt-wrap;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding: 16px 0;
    }

    &__card {
        border-radius: 15px;
        background: white;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        transition: all .3s;

        &:hover {
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
            filter: contrast(0.96) brightness(1.04) saturate(1.02);
        }
        
        &__img-container {
            height: 175px;
            position: relative;
        }
        
        &__new {
            width: 80px;
            height: 29px;
            position: absolute;
            top: 13px;
            right: 12px;
            text-align: center;
            align-content: center;
            border-radius: 2px;
            background: $colorTertiary;
            color: $colorTertiaryDark;
            font-size: 14px;
            font-weight: 500;
            transition: filter .3s;
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            padding: 16px 14px;
        }

        &__txt {
            display: flex;
            flex-direction: column;
            gap: 4px;
            max-width: 75%;

            .title {
                font-size: 18px;
                font-weight: 700;
                @include txt-wrap;
            }

            .subtitle {
                font-size: 17px;
                font-weight: 300;
                @include txt-wrap;
            }
        }

        &__heart {
            display: flex;
            align-self: center;
            margin-right: 13px;
            @include svg-heart;
        }
    }
}