$black: #101010;
$greyDark: #353535;
$grey: #7E7E7E;
$greyLight: #EAEAEA;
$white: #F6F6F6;
$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;
$colorTertiaryDark: #008766;
$gradient: linear-gradient(#FF79DA, #9356DC);